.header{
    background-color:  #FFF8F3;
   background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    flex-shrink: 0;
   
}

.header-title{
    color:  #151414;
text-align: right;
font-family: Work Sans;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
}
.header-info{
    color:  #444343;
text-align: right;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    justify-content: right;
}